body{
    margin:5%;
    justify-content: center;
    align-items: center;    
}

.logo{
    width:185px;
    margin: 0px;
}

h1{
    font-size:44px;
    font-family: poppins;
    font-weight: 700;
}

h2{
    font-size:36px;
    font-family: poppins;
    font-weight: 700;
}


h3{
    font-size:22px;
    font-family: poppins;
    font-weight: 600; 
}

h4{
    font-family: poppins;
    font-weight: 700;
    font-size: 16px;
}

p{
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
}

li{
    font-family: poppins;
    font-weight: 300;
    font-size: 14;
    list-style-type: none;
    padding-bottom: 20px;
    margin-left: -40px;

}

li:hover{
    color: #FF9900;
}

.pre-h2{
    margin-bottom: -15px;
}

nav{
    display:flex;
    justify-content: flex-end;
    align-items: baseline;
    position: sticky;
}

.nav-logo{
    width:185px;
    margin: 0px;
    align-items: start;
}

.nav-links{
    list-style: none;
    display: flex;
    margin: 20px;    
    gap: 80px;
}

.nav-buttons{
    padding: 40px;
}

.sign-in{
    border: solid;
    border-color: #BCD0E5;
    border-width: 2px;
    color: #173A56;
    background-color: #ffffff;
}


.intro-buttons{
    display: flex;
    align-items: baseline;
    height: 50px;

}

.play-icon{
    width: 15px;
    height: 20px;
    margin-left: 40px;
    margin-right: 10px;
}

.watch-video{
    font-family: poppins;
    color: #FF9900;
    text-decoration: underline;
}

.watch-video:hover{
    font-family: poppins;
    color: #173A56;
    text-decoration: underline;
}

img{
    max-width:600px;
    margin: 50px;
}

button{
    background-color: #FF9900;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: poppins;
    border: solid;
    border-color: #FF9900;
    border-width: 2px;
    margin: 5px;
}

button:hover{
    background:#173A56;
    color: #ffffff;
    border: none;
  }


.we-design-tools{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 70px 0px 100px 0px;
}

.we-design-heading{
    text-align: center;
}


.service{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 0px;
    width: 100%;
}

.service-items{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    max-width: 240px;
    margin: 10px;
    padding: 0px;
}

.service-icon{
    width: 50px;
    margin: 5px;
}


.block{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
} 

.content{
    margin: 0px;
    max-width: 500px;
}

.check-list{
    display: flex;
    flex-direction: column;
    margin-top: -40px;
}

.check{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -40px;
}

.check-icon{
    width: 35px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 30px;
}

hr{
   margin-bottom: 100px; 
   margin-top: 50px;
   border: 1px solid #bcd0e567;
}

footer{
    display: flex;
    justify-content:space-between;
    align-items: baseline;

}

.sign-up-box{
    width: 300px;
    height: 40px;
    border: solid;
    border-width: 2px;
    border-color: #BCD0E5;
    border-radius: 5px;
    margin-bottom: 20px;
}
